<h3 class="text-dark">Don't Have An Account?</h3>
<p class="text-dark">Just fill out the form and register</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid': isTouched('fullname') && hasErrors('fullname'),
        'is-valid': isTouched('fullname') && !hasErrors('fullname')
      }"
      class="form-control form-control-lg"
      formControlName="fullname"
      placeholder="Full Name"
    />

    <div
      class="invalid-feedback"
      *ngIf="
        hasError('fullname', 'minlength') || hasError('fullname', 'maxlength')
      "
    >
      Must be between 10-30 characters
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid': isTouched('username') && hasErrors('username'),
        'is-valid': isTouched('username') && !hasErrors('username')
      }"
      class="form-control form-control-lg"
      formControlName="username"
      placeholder="Username"
    />

    <div class="invalid-feedback" *ngIf="hasError('username', 'required')">
      Username required
    </div>

    <div
      class="invalid-feedback"
      *ngIf="
        hasError('username', 'minlength') || hasError('username', 'maxlength')
      "
    >
      Must be between 5-20 characters
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid': isTouched('email') && hasErrors('email'),
        'is-valid': isTouched('email') && !hasErrors('email')
      }"
      class="form-control form-control-lg"
      formControlName="email"
      placeholder="Email"
    />

    <div class="invalid-feedback" *ngIf="hasError('email', 'required')">
      Email required
    </div>

    <div class="invalid-feedback" *ngIf="hasError('email', 'pattern')">
      Invalid email format
    </div>

    <div class="invalid-feedback" *ngIf="hasError('email', 'maxlength')">
      Can be at most 30 characters
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid': isTouched('password') && hasErrors('password'),
        'is-valid': isTouched('password') && !hasErrors('password')
      }"
      class="form-control form-control-lg"
      formControlName="password"
      placeholder="Password"
    />

    <div class="invalid-feedback" *ngIf="hasError('password', 'required')">
      Password required
    </div>

    <div
      class="invalid-feedback"
      *ngIf="
        hasError('password', 'minlength') || hasError('password', 'maxlength')
      "
    >
      Must be between 10-50 characters
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          isTouched('confirmPassword') && (formHasError('nomatch') || hasErrors('confirmPassword')),
        'is-valid':
          isTouched('confirmPassword') && !formHasError('nomatch') && !hasErrors('confirmPassword')
      }"
      class="form-control form-control-lg"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />

    <div
      class="invalid-feedback"
      *ngIf="hasError('confirmPassword', 'required')"
    >
      Confirm Password required
    </div>

    <div
      class="invalid-feedback"
      *ngIf="formHasError('nomatch')"
    >
      Passwords do not match
    </div>
  </div>

  <button
    class="btn btn-block mb-3 bg-primary text-light"
    type="submit"
    [disabled]="!registerForm.valid"
  >
    Register
  </button>
</form>
